@media screen and (max-width:800px) {
    .container {
        position: relative;
        background-color: #555357;
        padding: 20px;
        width: 75%;
        min-width: 55%;
        border-radius: 20px;
    }
    #date{
        position: absolute;
        top:-45px;
        right:0;
        padding: 2px;
        width: 100px;
        border-radius: 5px;
        border: 0;
        border-bottom:2px solid;
    }
    #cc{
        position: relative;
        top:15px;
    }
    #names{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }   
    #selects{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}