* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #19111b;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    background-color: #27052a;
    padding: 32px;
    width: 45%;
    border-radius: 20px;
}
#date{
    position: absolute;
    top:-60px;
    right:-20px;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    border: 0;
    border-bottom:2px solid rgb(166, 166, 166);
}
#names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#name,#cpf{
    max-width: 100%;
    border-bottom:2px solid rgb(166, 166, 166);
}
h1 , h2, p , label {
    text-align:left;
    color: white;
}
.container form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.inputs {
    padding: 8px 5px;
    border-radius:5px ;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    transition: .5s;
}
.radio {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 20px;
}
#nome{
    margin-bottom: 10px;
    border-bottom:2px solid rgb(166, 166, 166);
}
.select{
    width: 160px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    border-bottom:2px solid rgb(166, 166, 166);
}
button {
    padding: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
    background-color:#460b4b;
    color: white;
}
textarea {
    resize: none;
}
div {
    position: relative;
}
#selects{
    display: flex;
    justify-content: space-between;
}
#button:hover {
    background-color:#120315;
}
input[type='radio']{
    accent-color: #120315;
}
input{
    background-color:#460b4b;
    color: white;
}
